.category-selector {
    margin-bottom: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
}

.category {
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}