/* Сбрасываем отступы и настраиваем box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Чтобы #root/page могли занять всю высоту */
html,
body,
#root {
    height: 100%;
}

/* Базовые стили для тела страницы */
body {
    font-family: "Roboto", sans-serif;
    background: #F4F5F6;
}
